# WPPConnect Configuration
WPPCONNECT_BASE_URL=http://localhost:21465
WPPCONNECT_SECRET_KEY=THISISMYSECURETOKEN
WPPCONNECT_SESSION_NAME=
WPPCONNECT_TOKEN=

# GROQ Configuration
GROQ_API_KEY=

# Postgres Configuration
PSQL_USERNAME=
PSQL_PASSWORD=
PSQL_HOST=
PSQL_PORT=5432
PSQL_DATABASE=
PSQL_SSLMODE=
PSQL_CONNECTION_STRING=postgresql://${PSQL_USERNAME}:${PSQL_PASSWORD}@${PSQL_HOST}/${PSQL_DATABASE}?sslmode=${PSQL_SSLMODE}